{#
 This file is part of the PostCarrier

 Copyright(c) 2016 IPLOGIC CO.,LTD. All Rights Reserved.
 http://www.iplogic.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['postcarrier', 'postcarrier_history'] %}

{% block title %}ポストキャリア管理{% endblock %}
{% block sub_title %}配信履歴{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
{% endblock %}

{% block main %}


    <div class="box no-header">
	<div class="box-body">
	    <div class="table_list">
		<div class="table-responsive with-border">
		    <table class="table">
			<colgroup width="10%">
			<colgroup width="90%">
			    <tr>
				<th>管理名称</th>
				<td class="left">{{ adm_name }}</td>
			    </tr>
			    <tr>
				<th>備考</th>
				<td class="left">{{ adm_note|nl2br }}</td>
			    </tr>
		    </table>
		</div>
	    </div>
	</div>
    </div>

    <div class="box no-header">
	<div class="box-body">
	    <div class="table_list">
		<div class="table-responsive with-border">
		    <table class="table">
			<colgroup width="10%">
			<colgroup width="90%">
			    <th>件名</th>
			    <td>{{ subject }}</td>
		    </table>
		</div>
	    </div>
	</div>
    </div>


    <div class="box no-header">
	<div class="box-body">
	    <div class="table-responsive with-border">
		<table class="table">
		    <colgroup width="60%">
		    <colgroup width="40%">
			<tr>
			    <td class="left">
				<img src="//www.postcarrier.jp/chart?cht=pc&chs=400x200&chp=4.7&chco=bfff7f|7f7fff|708090,ff7f7f|ffff7f|bfff7f|7f7fff|708090&chl=|||コンバージョン数|クリック数|正常配信|配信除外|配信エラー&chd=t:{{ arrMarketing.nSent }},{{ arrMarketing.nDiscard }},{{ arrMarketing.nError }}|{{ arrMarketing.nConversion }},{{ arrMarketing.nClick2 }},{{ arrMarketing.nSent2 }},{{ arrMarketing.nDiscard }},{{ arrMarketing.nError }}&chds=0,{{ arrMarketing.total }}">
			    </td>
			    <td>
				<table class="table">
				    <colgroup width="60%">
				    <colgroup width="40%">
					<tr>
					    <th>配信予定メール通数</th>
					    <td class="right">{{ arrMarketing.total|number_format }} 通</td>
					</tr>
					<tr>
					    <th>配信除外通数</th>
					    <td class="right">{{ arrMarketing.nDiscard|number_format }} 通</td>
					</tr>
					<tr>
					    <th>配信エラー通数</th>
					    <td class="right">{{ arrMarketing.nError|number_format }} 通</td>
					</tr>
					<tr>
					    <th>正常配信通数</th>
					    <td class="right">{{ arrMarketing.nSent|number_format }} 通</td>
					</tr>
					{% if htmlMailFlg %}
					<tr>
					    <th>メール開封率</th>
					    <td class="right">{{ arrMarketing.nOpened2|round(2,'floor') }} ％</td>
					</tr>
					<tr>
					    <th>メール開封通数</th>
					    <td class="right">{{ arrMarketing.nOpened|number_format }} 通</td>
					</tr>
					{% endif %}
					<tr>
					    <th>クリック通数</th>
					    <td class="right">{{ arrMarketing.nClick|number_format }} 通</td>
					</tr>
					<tr>
					    <th>コンバージョン通数</th>
					    <td class="right">{{ arrMarketing.nConversion|number_format }} 通</td>
					</tr>
					<tr>
					    <th>コンバージョン金額</th>
					    <td class="right">{{ arrMarketing.amount|number_format }} 円</td>
					</tr>
				</table>
			    </td>
			</tr>
		</table>
            </div>
	</div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
	    <a href="javascript:void(0)" class="btn btn-primary btn-sm" onclick="window.history.back(-1); return false;">戻る</a>
            <a href="{{ url('admin_postcarrier_history_result', { id: id }) }}" class="btn btn-primary btn-sm">配信内容分析</a>
            <a href="{{ url('admin_postcarrier_history_result_customer', { id: id }) }}" class="btn btn-primary btn-sm">顧客別配信分析</a>
            <a href="{{ url('admin_postcarrier_history_result_link', { id: id }) }}" class="btn btn-primary btn-sm">リンク別配信分析</a>
        </div>
    </div>

{% endblock %}
