{#
 This file is part of the PostCarrier

 Copyright(c) 2016 IPLOGIC CO.,LTD. All Rights Reserved.
 http://www.iplogic.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['postcarrier', 'postcarrier_history'] %}

{% block title %}ポストキャリア管理{% endblock %}
{% block sub_title %}配信履歴管理{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>

<script>
function fnDelete(action) {
    if (confirm('この履歴を削除しても宜しいですか？')) {
        document.form1.action = action;
        document.form1.submit();
    }
}
function changeAction(action) {
    document.form1.action = action;
    document.form1.submit();
}
</script>
{% endblock %}

{% block main %}
<form name="form1" id="form1" method="post" action="">

{% if pagination %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {% if pagination and pagination.totalItemCount > 0 %}
                    <div class="box-header with-arrow">
                        <h3 class="box-title">総件数 <span class="normal"><strong>{{ pagination.totalItemCount }} 件</strong> </span></h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {% include "PostCarrier/Resource/template/admin/pager_id.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_postcarrier_history_detail_page', 'id': id } %}

			<div class="row">
                            <div class="col-md-12">
				<ul class="sort-dd">
                                    <li id="result_list_main__pagemax_menu" class="dropdown">
					{% for pageMax in pageMaxis if pageMax.name == page_count %}
                                        <a id="result_list_main__pagemax_menu_toggle" class="dropdown-toggle" data-toggle="dropdown">{{ pageMax.name|e }}件<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></a>
                                        <ul class="dropdown-menu">
					    {% endfor %}
					    {% for pageMax in pageMaxis if pageMax.name != page_count %}
                                            <li><a href="{{ path('admin_postcarrier_history_detail_page', {'page_no': 1, 'page_count': pageMax.name, 'id': id}) }}">{{ pageMax.name|e }}件</a></li>
					    {% endfor %}
                                        </ul>
                                    </li>
                                    {# var3.0.0では未対応
                                    <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">CSVダウンロード<svg class="cb cb-angle-down icon_down"><use xlink:href="#cb-angle-down"></svg></a>
					<ul class="dropdown-menu">
                                            <li><a>ダウンロード</a></li>
                                            <li><a>出力項目設定</a></li>
					</ul>
                                    </li>
                                    #}
				</ul>
                            </div>
			</div>

                        <div class="table_list">
                            <div class="table-responsive with-border">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>配信ID</th>
					    <th>メールアドレス</th>
					    <th>送信時刻</th>
					    <th>メッセージID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for SendMail in pagination %}
                                        <tr>
                                            <td style="text-align: right">{{ SendMail.customerId }}</td>
                                            <td>{{ SendMail.recipient }}</td>
                                            <td>{{ SendMail.sentTime|date("Y/m/d H:i") }}</td>
                                            <td>{{ SendMail.messageId }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div><!-- /.box-body -->
                {% else %}
                    {# データがない場合 #}
                    <div class="box-header with-arrow">
                        <h3 class="box-title">該当するデータがありませんでした。</h3>
                    </div><!-- /.box-header -->
                {% endif %}

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" onclick="window.history.back(-1); return false;">履歴一覧に戻る</a>
                        <button id="download-button" type="submit" class="btn btn-primary btn-sm" onclick="changeAction('{{ url('admin_postcarrier_history_detail_export', { id: id }) }}'); document.form1.submit(); return false;">CSVファイルのダウンロード</button>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

{% else %}
    <div class="box-header with-arrow">
        <h3 class="box-title">検索条件に該当するデータがありませんでした。</h3>
    </div><!-- /.box-header -->
{% endif %}
</form>

{% endblock %}
