<style>
.payment{
text-align:center;
}
.ft-footer{
padding-top:20px;
}
.footer_logo_area {
margin-top:0px;
}
#footer {
margin:0;
padding:0;
font-size:13px;
border-top:none;
background: linear-gradient(to bottom,#f9f0e5 , #FCF8EF);
}
#footer ul li {
margin: 0;
padding: 5px;
text-align:left;
}
#footer a:hover{
color:red;
}
#footer a {
  color: #593c28;
    font-weight: bold;
}
.ft-last {
text-align:center;
}
.ft-last li {
    clear: both;
    display: inline-block;
    margin: 0 10px;
}
.copyright{
clear:both;
display:block;
text-align:center;
padding-top:30px;
}
@media only screen and (max-width: 767px){
.ft-last{width:100%;
 border: 1px solid #dcdada;
border-radius:5px;
margin-top:5px;
text-align:left;
}
.ft-last li{
display:block;
border-bottom: 1px solid #dcdada;
line-height:30px;
}
.ft-last li:last-child {
border-bottom:none;
}
.ft-last li a{
color:black;
padding-left:8px;
display:block;
}
#footer a {
    color: #5b5c5f;
}
.ft-last li a:after{
content:"►";
float:right;
padding-right: 16px;
}
}
</style>
<div class="container-fluid inner">
<div class="row">
<div class="col-sm-12 ft-footer">
<div class="ft-last">
<li><a href="{{ url('help_about') }}"><img src="/user_data/images/external-browser.png">  当サイトについて</a></li>
<li ><a href="{{ url('help_privacy') }}"><img src="/user_data/images/documents-security.png">   プライバシーポリシー</a></li>
<li><a href="{{ url('help_tradelaw') }}"> <img src="/user_data/images/layers.png">   特定商取引法に基づく表記</a></li>
<li><a href="http://vings.jp/user_data/faq"> <img src="/user_data/icon/question.png">  よくあるご質問</a></li>
<li><a href="{{ url('contact') }}"> <img src="/user_data/images/speech-bubble.png">   お問い合わせ</a></li>
</div>
</div>
</div>
<div class="payment">
<img src="/user_data/images/payment.png">
</div>
<p class="copyright">
<span>copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</span>
</p>
</div>