<style>
@media only screen and (max-width: 767px){
.category-nav4{display:none;}
}
@media only screen and (min-width: 767px){
.category-nav4 li ul {display:none;}
.category-nav4 {width:100%;
height:auto;
padding: 0;
}
.category-nav4 li:nth-child(n+7) {
display: none!important;
}
.category-nav4 li{
display:inline-block;
background: rgba(24, 166, 137, 0.77);
}
.category-nav4 li:nth-child(1){
background:url(/user_data/images/iconall300b.png);
background-size: 60px 60px;
background-repeat:no-repeat;
background-position:center top;
}
.category-nav4 li:nth-child(2){
background:url(/user_data/images/anime1.png);
background-size: 60px 60px;
background-repeat:no-repeat;
background-position:center top;
}
.category-nav4 li:nth-child(3){
background:url(/user_data/images/bocaloid1.png);
background-size: 60px 60px;
background-repeat:no-repeat;
background-position:center top;
}
.category-nav4 li:nth-child(4){
background:url(/user_data/images/disney1.png);
background-size: 60px 60px;
background-repeat:no-repeat;
background-position:center top;
}
.category-nav4 li:nth-child(5){
background:url(/user_data/images/queen1.png);
background-size: 60px 60px;
background-repeat:no-repeat;
background-position:center top;
}
.category-nav4 li:nth-child(6){
background:url(/user_data/images/whig1.png);
background-size: 60px 60px;
background-repeat:no-repeat;
background-position:center top;
}

.category-nav4 li a {
    line-height: 20px;
    color: black;
 font-size: 8px;
    display: block;
    text-align: bottom;
    height: auto;
text-align:center;
padding-top: 60px;
}
.category-nav4 li:nth-child(1) a{
     color: #cc0985;
}
.category-nav4 li:nth-child(2) a{
    color: #ff006c;
}
.category-nav4 li:nth-child(3) a{
     color: #066f23;
}
.category-nav4 li:nth-child(4) a{
           color: #8e761a;
}
.category-nav4 li:nth-child(5) a{
     color: #136968;
}
.category-nav4 li:nth-child(6) a{
   color: #7200ff;
}

.category-nav4 li a:hover {text-decoration: underline;}
.st_category{
padding:0;
}
</style>
<div class="col-sm-8 st_category">

{% macro tree(Category) %}
{% if Category.id != 199 %}
            <li class="col-sm-2 col-xs-4 " style="height=auto;">
                <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
                    {{ Category.name }}
                </a>
                <span class="trigger"></span>
              {% if Category.children|length > 0 %}
                <ul>

                  {% for ChildCategory in Category.children %}
                    {{ _self.tree(ChildCategory) }}
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
			{% endif %}
            {% endmacro %}
            <ul class="category-nav4">
            <li class="col-sm-2 col-xs-4"><a href="http://vings.jp/products/list?category_id=&name=">全ての商品</a></li>
              {% for Category in Categories %}
              {{ _self.tree(Category) }}
              {% endfor %}

            </ul>
</div>